<ion-view view-title="Current Conditions">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card">
      <div class="item item-divider">Current Conditions</div>
      <div class="item item-body">
        <div>
          {{conditions.city}}<br>
          {{conditions.temp}}<br>
          {{conditions.humidity}}<br>
          {{conditions.sky}}<br>
          <i class="owf owf-{{conditions.icon}} owf-5x"></i>
          <br>
          {{conditions.wind.speed}}
          {{conditions.wind.dir}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
