<ion-view view-title="Current Conditions">
  <ion-content class="padding">
    <ion-refresher pulling-text="Pull to refresh" on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card curr-conds">
      <div class="item item-divider curr-conds-hdr">
        <h2>Current Conditions</h2>
        <h3>{{conditions.city}}</h3>
      </div>
      <div class="item item-body curr-conds-body">
        <div>
          {{conditions.temp}}<br>
          {{conditions.humidity}}<br>
          {{conditions.sky}}<br>
          <i class="owf owf-{{conditions.icon}} owf-5x"></i>
          <br>
          {{conditions.wind.speed}}
          {{conditions.wind.dir}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
